body{
    overflow: hidden;
}

button:hover{
    cursor: pointer;
}

#root{
    height: 100vh;
    display: flex;
}

.info{
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 3px solid black;
    border-radius: 5px;
}

#output_playoff{
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    border-right: 3px solid black;
    border-radius: 5px;
    overflow: auto;
}

#output_final{
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game{
    margin: 20px;
    height: 30px;
    border-radius: 5px;
}

select{
    height: 30px;
    border-radius: 5px;
    width: 50%;
}

.title{
    text-align: center;
    font-size: 1.5em;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

button{
    width: 40%;
    border-radius: 5px;
    border: 1px solid black;
}

#resetButton{
    background: gainsboro;

}

#generateButton{
    background: limegreen;
    color: white;

}

.item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 5px 25px 8px 25px;
    border: 1px solid black;
    border-radius: 10px;
}

.finalSelect{
    display: none;
}

/* #home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home button{
    height: 100%;
    margin: 50px;
    font-size: 5em;
    border-radius: 10px;
}

button:first-child{
    background: aquamarine;
}

button:last-child{
    background: coral;
}

#playoffs, #finals{
    display: flex;
    height: 96vh;
}

.info {
    flex: 0 0 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    border-right: 1px solid black;
    justify-content: center;
}

.info__button {
    margin: 20px;
    border-radius: 5px;
    width: 22%;
    height: 5%;
    font-size: 1.5em;
}

.items{
    flex: 0 0 60%;
    overflow: auto;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 5px 25px 8px 0;
    border: 1px solid black;
    border-radius: 10px;
}

.finals__select{
    width: 100px;
    border-radius: 5px;
    height: 27px;
    margin: 10px;
}

.finals__info{
    flex-direction: column !important;
}

.finals__button{
    width: auto !important;
    height: auto !important;
}


#playoffs, #finals {
    display: none;
} */