body{
    overflow: hidden;
}

button:hover{
    cursor: pointer;
}

#root{
    height: 100vh;
    display: flex;
}

.info{
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 3px solid black;
    border-radius: 5px;
}

#output_playoff{
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    border-right: 3px solid black;
    border-radius: 5px;
    overflow: auto;
}

#output_final{
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game{
    margin: 20px;
    height: 30px;
    border-radius: 5px;
}

select{
    height: 30px;
    border-radius: 5px;
    width: 50%;
}

.title{
    text-align: center;
    font-size: 1.5em;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

button{
    width: 40%;
    border-radius: 5px;
    border: 1px solid black;
}

#resetButton{
    background: gainsboro;

}

#generateButton{
    background: limegreen;
    color: white;

}

.item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 5px 25px 8px 25px;
    border: 1px solid black;
    border-radius: 10px;
}

.finalSelect{
    display: none;
}